<div class="text-center" id="homepage">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">bulletIN</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a
            class="nav-link"
            [routerLink]="['', { outlets: { homepage: ['info'] } }]"
            >Home</a
          >
          <a
            class="nav-link"
            [routerLink]="['', { outlets: { homepage: ['about'] } }]"
            >About</a
          >
          <a
            class="nav-link"
            [routerLink]="['', { outlets: { homepage: ['register'] } }]"
            >Register</a
          >
          <a class="nav-link" (click)="login()">Sign In</a>
        </nav>
      </div>
    </header>
    <router-outlet name="homepage"></router-outlet>
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>
          Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>,
          by <a href="https://twitter.com/mdo">@mdo</a>.
        </p>
      </div>
    </footer>
  </div>
</div>
